.card-img-container {
  width: 100%;
  height: 12rem; /* Set the desired height for the images */
  overflow: hidden; /* Ensures any overflow is clipped */
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img-container img {
  width: 100%;
  height: auto; /* Maintains aspect ratio */
  object-fit: cover; /* Ensures the image covers the container */
}

.card-img-top.img-top {
  width: 100%;
  height: auto;
}

.carousel-item {
  position: relative;
}

.carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}


.custom-alert {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #007bff; /* Blue for general alerts */
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  min-width: 300px;
  max-width: 400px;
  font-family: Arial, sans-serif;
  animation: fadeIn 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  .card {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}

.card-title {
  font-family: 'Cairo', sans-serif;
  color: #333;
}


//link
//link 
.map-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  max-width: 300px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.map-image {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-right: 10px;
}

.map-text {
  font-size: 14px;
  font-weight: bold;
  color: #007BFF;
}

.map-link:hover {
  background-color: #e9ecef;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
