
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div
        *ngFor="let item of carouselItems; let i = index"
        [class.active]="i === 0"
        class="carousel-item">
        <img
          [src]="item.ImageUrl"
          class="d-block w-100"
          [alt]="item.CaptionTitle"
        />
        <div class="carousel-caption d-none d-md-block">
          <h4>{{ item.CaptionTitle }}</h4>
          <p>{{ item.CaptionText }}</p>
        </div>
      </div>
    </div>
  
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
    <br>
    <div class="container">
        <div class="text-center title">
          <h1 class="display-4 text-primary">تأكيد الحجز</h1>
          <p class="lead text-secondary">لقد ارسلنا لك كود لتأكيد الحجز</p>
        </div>
        <hr class="my-4" />
      </div>
      <div class="container py-5">
        <div class="text-center mb-4">
          <h1 class="display-6 text-primary">أدخل كود التأكيد</h1>
          <p class="text-muted">من فضلك ادخل الكود المرسل لك  الى البريد الإلكتروني</p>
        </div>
        <form [formGroup]="confirmCodeForm"  (ngSubmit)="onSubmit()" class="shadow p-4 rounded bg-light">
          <!-- Input Field -->
          <div class="mb-4">
            <label for="codeField" class="form-label fw-bold">أدخل كود التأكيد</label>
            <input
              type="text"
              formControlName="confirmCode"
              class="form-control form-control-lg"
              id="codeField"
              placeholder="من فضلك أدخل كود تأكيد الحجز"
            />
            <div *ngIf="confirmCodeForm.get('confirmCode')?.invalid && confirmCodeForm.get('confirmCode')?.touched" class="text-danger mt-2">
             يجب إدخال كود التأكيد
            </div>
          </div>
          <!-- Submit Button -->
          <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="confirmCodeForm.invalid">
              تأكيد الحجز
            </button>
          </div>
        </form>
      </div>
    <br>
    <div class="bank-details-container d-flex justify-content-center align-items-center">
      <div class="bank-details-card shadow-lg p-4 rounded bg-light">
        <h1 class="text-primary text-center mb-4">ADIB : أسم المصرف</h1>
        <p class="bank-detail"> HASSAN OBAID KHALIFA AL GHASHAISH ALMARRI<strong>اسم صاحب الحساب:</strong></p>
        <p class="bank-detail"> 14997442<strong>:رقم الحساب</strong></p>
        <p class="bank-detail"> AE050500000000014997442<strong>:رقم الآيبان</strong></p>
        <p class="bank-detail"> ABDIAEADXXX<strong>السويفت:</strong></p>
      </div>
    </div>
    
  <!-- Picture Upload -->


    <!-- <div class="container mt-4">
      <div id="formContainer" class="mt-4">
        Dynamic content 
        <form *ngIf="showUploadForm" (ngSubmit)="onUpload()">
          <div class="col-md-6 text-center">
            <label for="picture" class="form-label">صورة إيصال الدفع</label>
            <input type="file" id="picture" class="form-control" (change)="onFileChange($event)" required />
          </div>
          <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary mt-3 w-50">ألتأكيد</button>
          </div>
          
        </form>
    
        <p *ngIf="showNotFoundMessage" class="text-danger text-center">Data not found in the database.</p>
        <p *ngIf="showErrorMessage" class="text-danger text-center">An error occurred while checking the data.</p>
      </div>
    </div> -->
    
    <!-- <form [formGroup]="confirmForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
      <div class="row g-3"> -->
        <!-- Picture Upload -->
        <!-- <div class="col-md-6 text-center">
          <label for="picture" class="form-label">صورة الهوية</label>
          <input type="file" id="picture" class="form-control" (change)="onFileChange($event)" required />
        </div> -->
        <!-- Submit Button -->
        <!-- <div class="col-12 text-center">
          <button type="submit" class="btn btn-primary mt-3 w-50">أحجز الأن</button>
        </div>
      </div>
    </form> -->
