<div *ngIf="!isAuthenticated; else content" class="password-wrapper">
    <div class="password-container">
      <h2 class="password-title">🔒 Secure Access</h2>
      <p class="password-subtitle">Please enter the password to proceed</p>
      <input
        type="password"
        [(ngModel)]="password"
        placeholder="Enter your password"
        class="password-input"
      />
      <button (click)="authenticate()" class="submit-button">Unlock</button>
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </div>
  </div>
  
  
  
  <ng-template #content>
    <div class="total-price-container mt-4">
        <div id="cardContainer">
          <div *ngFor="let room of rooms" class="card">
            <div class="card-content">
              <h2 class="card-title">صورة الهوية</h2>
              <img [src]="room.BookImg" alt="{{ room.Name }}" class="card-image">
              <h2 class="card-title">صورة إيصال التأكيد</h2>
              <img [src]="room.Confirmimage" alt="{{ room.Name }}" class="card-image">
              <h2 class="card-title">{{ room.BookName }}</h2>
              <p><strong>Email:</strong> {{ room.BookEmail }}</p>
              <p><strong>Phone:</strong> {{ room.BookPhone }}</p>
              <p><strong>From:</strong> {{ room.BookFrom }}</p>
              <p><strong>To:</strong> {{ room.BookTo }}</p>
                <p><strong>Place:</strong> {{ room.PlaceName || 'N/A' }}</p>
                <p><strong>Description:</strong> {{ room.PlaceDesc || 'N/A' }}</p>
                <p><strong>Total Price:</strong> ${{ room.TotalPrice || 'N/A' }}</p>
       
                <button class="delete-button" (click)="deleteRoom(room.BookId)">Delete</button>
    
    
            </div>
          </div>
        </div>
      </div>
    </ng-template>