<!-- <video class="d-block w-100" autoplay muted loop>
  <source src="assets/vidoes/video.mp4" type="video/mp4">
</video> -->

<div class="carousel-inner">
  <div 
    *ngFor="let item of carouselData; let i = index" 
    [class.active]="i === 0" 
    class="carousel-item">
    <img [src]="item.ImageUrl" class="card-img-top img-top" [alt]="item.CaptionTitle">
    <div class="carousel-caption d-none d-md-block">
      <h4>{{ item.CaptionTitle }}</h4>
      <p>{{ item.CaptionText }}</p>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h2 class="text-center mb-4">المزارع المتاحة</h2>

  <div class="container mt-5">
    <div class="row flex-nowrap overflow-auto py-3">
      <div class="col-auto" *ngFor="let place of bookService.places()">
        <div class="card h-100 shadow-lg rounded-3 border-0" style="width: 18rem;">
          <div class="card-img-container">
            <img [src]="place.imgUrl" class="card-img-top img-fluid" [alt]="place.Description">
          </div>
          <div class="card-body">
            <h5 class="card-title text-center text-primary">{{ place.Name }}</h5>
            <p class="card-text text-center text-muted">{{place.Description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
    <div class="row g-3">
      <!-- Name -->
      <div class="col-md-6 text-center">
        <label for="name" class="form-label">
          الأسم
        </label>
        <input type="text" id="name" class="form-control" formControlName="name" placeholder="Enter your name" required>
      </div>


      <!-- Email -->
      <div class="col-md-6 text-center">
        <label for="email" class="form-label">
          الأيميل
        </label>
        <input type="email" id="email" class="form-control" formControlName="email" placeholder="Enter your email"
          required>
      </div>


      <!-- Phone Number -->
      <!-- <div class="col-md-6">
        <label for="phone" class="form-label">رقم الهاتف</label>
        <input type="tel" id="phone" class="form-control" formControlName="phone" placeholder="Enter your phone number" required />
      </div> -->
      <div class="col-md-6 text-center">
        <label for="phone" class="form-label">
          رقم الهاتف
        </label>
        <input type="tel" id="phone" class="form-control" formControlName="phone" placeholder="Enter your phone number"
          required>
      </div>


      <!-- Picture Upload -->
      <div class="col-md-6 text-center">
        <label for="picture" class="form-label">
          صورة الهوية
        </label>
        <input type="file" id="picture" class="form-control" (change)="onFileChange($event)" required>
      </div>


      <!-- Dropdown -->
      <div class="col-md-6 text-center">
        <label for="dropdown" class="form-label">
          اختر المكان
        </label>
        <select id="dropdown" class="form-select" formControlName="dropdown" required (change)="onPlaceSelected()">
          <option *ngFor="let place of bookService.places()" [value]="place.Id">
            {{ place.Name }}
          </option>
        </select>
      </div>



      <app-date-range-picker
      [unavailableDates]="unavailableDates"
      [minDate]="minDate"
      [maxDate]="maxDate"
      (dateRangeSelected)="onDateRangeSelected()">
    </app-date-range-picker>

 
    
    <label for="phone" class="form-label">
    </label>

      <div class="col-12 text-center">
        <button  type="submit" class="btn btn-primary mt-3 w-50">
          أحجز الأن
        </button>
      </div>
    </div>
  </form>
</div>