video {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
}

form {
  background: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
}

button {
  font-size: 1.2rem;
}

mat-form-field {
  font-family: 'Cairo', sans-serif;
}
.form-label {
  font-size: 1.2rem;
  color: #007bff;
  font-weight: bold;
  font-family: 'Cairo', sans-serif;
  text-align: right; /* Align text to the right for Arabic */
}

.row {
  scrollbar-width: thin;
  scrollbar-color: #0d6efd #f1f1f1; /* Blue thumb, light background */
}

.row::-webkit-scrollbar {
  height: 8px;
}

.row::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.row::-webkit-scrollbar-thumb {
  background-color: #0d6efd; /* Bootstrap Primary Color */
  border-radius: 4px;
}

.row::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3; /* Darker shade on hover */
}.card-img-container {
  width: 100%;
  height: 12rem; /* Set the desired height for the images */
  overflow: hidden; /* Ensures any overflow is clipped */
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img-container img {
  width: 100%;
  height: auto; /* Maintains aspect ratio */
  object-fit: cover; /* Ensures the image covers the container */
}